
.DS_Store
eagle-ui/donut/.idea/inspectionProfiles/profiles_settings.xml
eagle-ui/donut/.idea/inspectionProfiles/Project_Default.xml
eagle-ui/donut/.idea/misc.xml
eagle-ui/donut/.idea/modules.xml
eagle-ui/donut/.idea/eagle-ui.iml
eagle-ui/tools/__pycache__/utilities.cpython-310.pyc
eagle-ui/views/__pycache__/dashboard.cpython-310.pyc
eagle-ui/views/__pycache__/data_annotation.cpython-310.pyc
eagle-ui/views/__pycache__/data_extraction.cpython-310.pyc
eagle-ui/views/__pycache__/model_training.cpython-310.pyc
eagle-ui/views/__pycache__/model_tuning.cpython-310.pyc
eagle-ui/views/__pycache__/settings.cpython-310.pyc
eagle-ui/donut/.idea/vcs.xml
*.pyc
eagle-data/donut/.idea/inspectionProfiles/profiles_settings.xml
eagle-data/donut/.idea/inspectionProfiles/Project_Default.xml
eagle-data/donut/.idea/misc.xml
eagle-data/donut/.idea/modules.xml
eagle-data/donut/.idea/eagle-data.iml
eagle-data/donut/.idea/vcs.xml
eagle-data/donut/.idea/workspace.xml
eagle-ml/donut/.idea/inspectionProfiles/profiles_settings.xml
eagle-ml/donut/.idea/inspectionProfiles/Project_Default.xml
eagle-ml/donut/.idea/misc.xml
eagle-ml/donut/.idea/modules.xml
eagle-ml/donut/.idea/eagle-ml.iml
eagle-ml/donut/.idea/vcs.xml
eagle-ml/donut/.idea/jupyter-settings.xml
eagle-ui/.idea/jupyter-settings.xml
eagle-data/.idea/jupyter-settings.xml
eagle-ml/llm/.idea/inspectionProfiles/profiles_settings.xml
eagle-ml/llm/.idea/inspectionProfiles/Project_Default.xml
eagle-ml/llm/.idea/lemming.iml
eagle-ml/llm/.idea/misc.xml
eagle-ml/llm/.idea/modules.xml
eagle-ml/llm/.idea/vcs.xml
eagle-ml/llm/.idea/workspace.xml
eagle-ml/llm/.idea/jupyter-settings.xml
eagle-data/donut/.idea/jupyter-settings.xml
eagle-ui/donut/.idea/jupyter-settings.xml
eagle-ml/lemming/.idea/inspectionProfiles/profiles_settings.xml
eagle-ml/lemming/.idea/inspectionProfiles/Project_Default.xml
eagle-ml/lemming/.idea/jupyter-settings.xml
eagle-ml/lemming/.idea/lemming.iml
eagle-ml/lemming/.idea/misc.xml
eagle-ml/lemming/.idea/modules.xml
eagle-ml/lemming/.idea/vcs.xml
eagle-ml/lemming/.idea/workspace.xml
eagle-ml/llm/.idea/llm.iml
eagle-data/ocr/.idea/inspectionProfiles/profiles_settings.xml
eagle-data/ocr/.idea/inspectionProfiles/Project_Default.xml
eagle-data/ocr/.idea/jupyter-settings.xml
eagle-data/ocr/.idea/misc.xml
eagle-data/ocr/.idea/modules.xml
eagle-data/ocr/.idea/ocr.iml
eagle-data/ocr/.idea/vcs.xml
eagle-ml/llm/.idea/copilot/chatSessions/xd.lck
eagle-ml/llm/.idea/copilot/chatSessions/blobs/version
eagle-ml/llm/.idea/copilot/chatSessions/00000000000.xd

eagle-ml/llm/.env_haystack/
eagle-ml/llm/.env_llamaindex/
eagle-ml/llm/.env_instructor/
eagle-ml/llm/.env_unstructured/
eagle-ml/llm/.env_eagle_parse/
eagle-data/ocr/.env_ocr/
eagle-data/parse/.env_parse
eagle-data/parse/.idea/inspectionProfiles/profiles_settings.xml
eagle-data/parse/.idea/inspectionProfiles/Project_Default.xml
eagle-data/parse/.idea/misc.xml
eagle-data/parse/.idea/modules.xml
eagle-data/parse/.idea/parse.iml
eagle-data/parse/.idea/vcs.xml
eagle-data/parse/dist/eagle_parse-0.1.7-py3-none-any.whl
eagle-data/parse/dist/eagle_parse-0.1.7.tar.gz
eagle-data/parse/poetry.lock
eagle-data/parse/.env_eagle_parse
eagle-data/parse/build
eagle-data/parse/dist
eagle-data/parse/eagle_parse.egg-info
/eagle-ml/infra/infra/.env_infra
/eagle-ml/infra/infra/.idea
/eagle-ml/infra/.env_infra
/eagle-ml/infra/.idea
eagle-ml/llm/.env
eagle-ui/shell/.env_shell
eagle-ui/shell/.env_eagle_ui_shell
/eagle-ui/shell/.idea
eagle-ui/shell/GeoLite2-Country.mmdb
eagle-ml/agents/.idea/agents.iml
eagle-ml/agents/.idea/inspectionProfiles/profiles_settings.xml
eagle-ml/agents/.idea/misc.xml
eagle-ml/agents/.idea/modules.xml
eagle-ml/agents/.idea/vcs.xml
eagle-data/parse/eagle_parse/images/OCBC_1_2.jpg
eagle-data/parse/eagle_parse/images/OCBC_1_2 improved.jpg
eagle-data/parse/eagle_parse/images/ocr_payload.json
eagle-data/parse/eagle_parse/images/oracle_10k_2024_q1_small improved.jpg
eagle-data/parse/eagle_parse/images/rent improved.jpg
eagle-data/parse/eagle_parse/images/bank_statement_1.jpg
eagle-data/parse/eagle_parse/images/bank_statement_2.jpg
eagle-data/parse/eagle_parse/images/bank_statement_3.jpg
